body{
    margin: 0;
    font-size: 16px;
    background-color: #f0f8ff;
}
header{
    height: 100vh;
    color: white;

    background-color: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #2196f3;
    }
header h1{
    font-size: 50px;
    color: antiquewhite;
    margin: 0;
}

.button{
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.button:hover{
    color: antiquewhite;
    background-color: blue;
}
main{
    padding: 20px;
}
section{
    height: 100vh;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2196f3;

   
}
.submit:hover{
    color: antiquewhite;
    background-color: greenyellow;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 26px;
}
.fixedButton{
    position: fixed;
    bottom: 10px;
    right: 25px;
    height: 50px;
    border: none;
    border-radius: 45%;
    cursor: pointer;
    color: antiquewhite;
    background-color: #2196f3;
}
footer{
    height: 126px;
    background-color: black;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
